<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 配置开发环境信息 -->
    <environments default="mysql">

        <environment id="mysql">

            <!-- 使用JDBC事务管理器，目前由MyBatis管理 -->
            <transactionManager type="JDBC"/>

            <!-- 配置DataSource标准数据源，目前由MyBatis管理 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="wxc666888"/>
            </dataSource>

        </environment>

    </environments>

</configuration>
